# MC
WORLD_NAME=world
SERVER_FP=../server
START_COMMAND="java -Xms1024M -Xmx2G -jar server.jar nogui"
RCON_IP=0.0.0.0:25575
RCON_PW=your_rcon_password_here

# AWS
S3_BUCKET=your_s3_bucket_name

# DISCORD
DISCORD_CHANNEL_ID=your_discord_channel_id
DISCORD_TOKEN=your_discord_bot_token
DISCORD_GUILD_ID=your_discord_guild_id
COMMAND_PREFIX=!

# STATUSPAGE.IO
STATUSPAGE_API_KEY=your_statuspage_api_key
STATUSPAGE_PAGE_ID=your_statuspage_page_id
STATUSPAGE_MINECRAFT_SERVER_COMPONENT_ID=your_minecraft_server_component_id
STATUSPAGE_BOT_COMPONENT_ID=your_bot_component_id
